doctype html
html
    head
        meta(charset="utf-8")
        title test

        link(rel="stylesheet" href="../style/entry/page/api.css")
    body
        .content
            .main
                common-header

        script(src="../script/entry/page/api.js")
