doctype html
html
    head
        meta(charset="utf-8")
        title test

        link(rel="stylesheet" href="../style/entry/page/kairan-ban.css")
    body
        .content
            .main
                common-header
                kairan-ban

        script(src="../script/entry/page/kairan-ban.js")
