doctype html
html
    head
        meta(charset="utf-8")
        title test

        link(rel="stylesheet" href="../style/entry/page/search.css")
    body
        .content
            // side-bar
            .main
                common-header
                h1.title search
                search
                search-results

        script(src="../script/entry/page/search.js")
